{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}

{% block body %} 

    <main>
        <section>
            <img src="/static/above_ground_vertical_tanks.jpeg" alt="Photo of Vertical Tanks">
        </section>

<br>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero risus, scelerisque id rhoncus vitae, facilisis posuere leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc placerat magna odio, ac bibendum nisl condimentum vitae. Aliquam pulvinar dignissim tellus a elementum. Nulla facilisi. Proin molestie fringilla ipsum sed convallis. Vivamus ipsum mauris, venenatis sit amet massa at, imperdiet tincidunt nibh. Sed pellentesque nec metus sed porta. Nam pretium molestie cursus. Praesent laoreet tempor est, vel hendrerit purus convallis in. In ac tellus scelerisque ex vulputate ultricies et vel lectus.
<br><br>
In molestie ullamcorper nisl et blandit. Suspendisse ac urna blandit, dictum neque et, tempus purus. Pellentesque sit amet turpis non elit finibus pellentesque. Praesent feugiat bibendum mollis. Proin efficitur gravida massa. Maecenas at auctor dui, sit amet malesuada purus. Donec ultricies pretium felis, eu ornare ligula dignissim nec.

Curabitur nulla justo, hendrerit ut turpis sed, rhoncus finibus urna. Curabitur rutrum non dolor a pulvinar. Integer fermentum turpis eu leo tincidunt rutrum. Nunc ut augue ut arcu ullamcorper euismod. Etiam finibus, nulla et posuere pretium, leo sapien aliquet leo, ut tempor mauris mi vitae mauris. Phasellus hendrerit, est id dictum consectetur, risus nisi cursus lectus, ut facilisis lectus lectus faucibus nulla. Sed fringilla semper convallis. In vulputate nibh lacinia lacus posuere laoreet.
<br><br>
Curabitur consequat augue dolor. Sed ac metus hendrerit sapien malesuada luctus ut sit amet ante. Phasellus sed quam nunc. Duis convallis non magna eget posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec efficitur vel ligula vitae pulvinar. Curabitur id lectus felis. Ut at risus vitae orci porttitor congue in ullamcorper neque. Aenean semper dignissim orci vel sollicitudin. Integer erat turpis, rutrum sit amet mattis eu, dapibus ut felis. Nam porttitor lorem accumsan enim porta hendrerit. Integer rutrum fermentum fermentum. Aenean dignissim mauris non nisl sollicitudin pharetra. Proin consequat nunc vel tempus lacinia. Donec non felis nec arcu dapibus posuere.

Suspendisse iaculis, risus eget pulvinar euismod, magna risus maximus nunc, a placerat dui purus in nunc. Integer ut malesuada erat. Nam sollicitudin a orci ac fringilla. Morbi vestibulum sollicitudin gravida. Cras eu odio ut odio ultrices pharetra sed at nisl. Maecenas ac commodo mauris. Vivamus facilisis urna eleifend dolor vestibulum mattis.
    </main>
{% endblock %}