{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}

{% block body %} 

    <main>
        <section>

        <img src="/static/above_ground_vertical_tanks.jpeg" alt="Photo of Vertical Tanks" align="left" hspace=20>
        

        <div class="dummytext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in est sapien. Phasellus commodo sodales purus eu imperdiet. In lacinia velit eget nibh cursus congue. Ut sodales diam ut metus lacinia, eu aliquet metus egestas. Proin ante magna, tincidunt ac finibus sed, tincidunt nec eros. Integer et tellus felis. Quisque non dui sit amet est commodo gravida nec sed massa. Integer imperdiet velit vel ante iaculis, ut sollicitudin augue malesuada. Sed a gravida eros, at tincidunt nisi. Praesent erat lectus, ullamcorper non luctus ac, pulvinar sed justo. Nullam in est quis lacus aliquet auctor eu a mauris. Mauris neque orci, scelerisque non maximus eget, tincidunt in metus.

Curabitur aliquet purus eros, a pellentesque felis rutrum vitae. Sed tincidunt et lacus non rhoncus. Nullam odio lorem, sagittis a urna quis, blandit fermentum ipsum. Pellentesque eu sagittis leo, nec ultricies risus. Etiam dapibus consequat consectetur. Etiam ac metus metus. Proin varius nec elit ac varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse sem est, condimentum a arcu a, blandit ornare ex. Donec fringilla eget felis viverra hendrerit. Vivamus sed risus eu justo vehicula varius ut ac mauris. Vestibulum cursus sodales nulla sed imperdiet. Vivamus venenatis nulla sagittis, aliquet magna eget, imperdiet est. Maecenas lorem eros, porttitor a laoreet et, finibus ut ante.

Pellentesque vel sem et nisl gravida rutrum sit amet varius lorem. Etiam vulputate vitae odio vel suscipit. Sed at nisi velit. Nulla facilisi. Duis condimentum turpis leo, id auctor urna ullamcorper et. Sed purus lacus, tincidunt at mi sed, iaculis rutrum arcu. Quisque iaculis, arcu vel tempor blandit, enim justo pretium velit, et fermentum tellus arcu eu magna. Phasellus non dui elementum, elementum arcu id, sodales lorem. Suspendisse semper tincidunt semper. Maecenas sed lorem pulvinar, dapibus massa eget, commodo est. Curabitur sed justo erat. Aenean in mollis magna, at lacinia quam. Aenean vel urna eu enim auctor ullamcorper et vel orci.

Mauris non lacinia purus. Nunc rutrum, orci vitae pulvinar consequat, nisl leo auctor lectus, at sodales odio lacus a nunc. Ut eu porttitor sem. Duis eget dui nisi. Quisque euismod et enim id suscipit. Ut ornare diam massa, quis viverra augue viverra et. Mauris rhoncus lorem eu posuere tincidunt. Praesent maximus sapien id neque dapibus condimentum. Vivamus ut felis quis dolor aliquam sagittis et sed turpis. Aenean malesuada ex iaculis quam blandit consequat. Maecenas luctus scelerisque odio nec vestibulum. Aenean sodales nisl quis accumsan auctor. Integer tempor auctor tincidunt. Phasellus dapibus, libero a ullamcorper consequat, nulla odio elementum felis, vitae egestas ligula eros molestie nibh.

Suspendisse tincidunt massa enim, sed facilisis enim interdum quis. Aliquam sed dolor nec magna venenatis tincidunt. Proin dignissim quam euismod neque accumsan porta. Proin rhoncus orci quis vehicula efficitur. Quisque massa ex, scelerisque quis dui vel, feugiat maximus dolor. Proin quis ligula varius, pellentesque odio in, viverra dui. Nulla quis erat et mi hendrerit ultrices at ac nisl. Proin fringilla libero lorem, vitae vulputate purus semper vel. Nullam purus nibh, fermentum ac urna eget, lobortis viverra mauris. Praesent sed mi vel libero posuere egestas. Nam quis venenatis nisl. Etiam eleifend felis eu metus molestie efficitur. Phasellus eu augue ipsum. Etiam commodo tempus ligula, a dictum purus aliquet sit amet. Nunc ut dui tristique, placerat metus id, gravida diam.
        </div>
        </section>
    </main>
{% endblock %}